.review-and-launch{
    display: flex;
    flex-direction: column;
    /* margin-left: 2.3rem; */
    width: 55.5rem;
    margin-top: 9rem;
}

.image-header{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.cat-label{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
}

.edit-label{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    color: #007EFF;
}

.instance-header{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    width: 20rem;
    margin-top: 0.5rem;
}

.instance-details{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
    margin-left: 2.5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0.4rem;
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
    margin-top: 0.7rem;
}

.instance-name{
    font-size: larger;
    font-weight: 600;
    margin: 0.5rem;
}

.ins-items{
    margin: 0.25rem 0.5rem;
    font-size: smaller;
}

.store-details{
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
    margin-top: 0.7rem;
}