.header-elem{
    position: static;
    width: 99%;
    left: 0px;
    top: 0px;
    box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
    background: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-top: 0%;
    padding: 6px;
}

.tab-container{
    display: flex;
    position: absolute;
    width: 70vw;
    height: 47px;
    left: 36px;
    top: 150px;
    flex-direction: row;
}

.tabs{
    background: #FFFFFF;
    height: 50%;
    margin: 5px;
    text-align: center;
    padding: 10px 5px 2px 5px;
    font-size: small;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.3);
}

.active{
    background: #007EFF;
    color: #FFFFFF;
}

.page-name{
    display: flex;
    position: absolute;
    left: 36px;
    top: 80px;
    font-size: 36px;
    width: 100%;
    height: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    color: #000000;
}

.main-container{
    display: grid;
    grid-template-columns: 50% 20% 30%;
    /* margin-top: 60px; */
    height: fit-content;
}

.cost-card {
    width: 25vw;
    height: 16vw;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,.3);
    padding: 15px;
    margin-top: 2rem;
    border-radius: 5px;
}

.cost-heading{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    color: #000000;
}

.footer{
    display: flex;
    position: static;
    width: 100%;
    height: 48px;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 30px;

}

.back-btn{
    top: calc(50% - 18px/2);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    background-color: black;
    color: #FFFFFF;
    width: 110px;
    height: 38px;
    border-radius: 8px;
    border: none;
    outline: none;
    justify-content: space-around;
    margin: 10px 5px;
}

.proceed-btn{
    height: 38px;
    width: 110px;
    top: calc(50% - 18px/2);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    background-color: #007EFF;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    outline: none;
    justify-content: space-around;
    margin: 10px 5px;
}
  
.proceed-btn:hover {
    cursor: pointer;
    background-color: #008cff;
}

.proceed-btn:active {
border: hidden;
transform: translateY(4px);
}

.back-btn:hover {
    cursor: pointer;
    background-color: #16181a;
}

.back-btn:active {
border: hidden;
transform: translateY(4px);
}

.select-region{
    width: 11rem;
    margin-top: 2rem;
    height: 2rem;
    margin-left: 2rem;
    font-size: 14px;
    color: #007EFF;
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
}
