.header-elem{
    position: static;
    width: 99%;
    left: 0rem;
    top: 0rem;
    box-shadow: 0rem 0.4rem 1.1rem 0rem rgba(0,0,0,0.2);
    background: #FFFFFF;
    text-align: center;
    margin-top: 0.3rem;
    margin-top: 0%;
    padding: 0.37rem;
}

.tab-container{
    display: flex;
    position: absolute;
    width: 56rem;
    height: 3rem;
    left: 2.2rem;
    top: 9.3rem;
    flex-direction: row;
}

.tabs{
    background: #FFFFFF;
    height: 1.3rem;
    margin: 0.3rem;
    text-align: center;
    padding: 0.6rem 0.3rem 0.1rem 0.3rem;
    font-size: 0.7rem;
    box-shadow: 0rem 0.1rem 0rem 0rem rgba(0,0,0,.3);
    font-weight: 600;
}

.active{
    background: #007EFF;
    color: #FFFFFF;
}

.page-name{
    display: flex;
    position: absolute;
    left: 2.2rem;
    top: 5rem;
    font-size: 2.2rem;
    width: fit-content;
    height: fit-content;
    font-style: normal;
    font-weight: 500;
    line-height: 4rem;
    color: #000000;
}

.main-container{
    display: grid;
    grid-template-columns: 50% 20% 30%;
    height: fit-content;
}

.cost-card {
    width: 25vw;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0rem 0.2rem 0.37rem 0.1rem rgba(0,0,0,.3);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
}

.cost-heading{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    color: #000000;
}

.footer{
    display: flex;
    position: static;
    width: 100%;
    height: fit-content;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.6rem;
    padding-bottom: 1.9rem;
}

.back-btn{
    top: calc(50% - 1.12rem/2);
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 1.12rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01rem;
    background-color: black;
    color: #FFFFFF;
    height: 2.375rem;
    width: 6.875rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    justify-content: space-around;
    margin: 0.62rem 0.3rem;
}

.proceed-btn{
    height: 2.375rem;
    width: 6.875rem;
    top: calc(50% - 1.12rem/2);
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 1.12rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01rem;
    background-color: #007EFF;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    justify-content: space-around;
    margin: 0.62rem 0.3rem;
}
  
.proceed-btn:hover {
    cursor: pointer;
    background-color: #008cff;
}

.proceed-btn:active {
border: hidden;
transform: translateY(0.25rem);
}

.back-btn:hover {
    cursor: pointer;
    background-color: #16181a;
}

.back-btn:active {
border: hidden;
transform: translateY(0.25rem);
}

.select-region{
    width: 10rem;
    margin-top: 2rem;
    height: 2.2rem;
    margin-left: 3.4rem;
    font-size: 0.9rem;
    color: #007EFF;
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
    padding-left: 0.4rem;
    outline: none;
    border-color: #007EFF;
}

.option-region{
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
    /* border-color: #007EFF */
}

.option-region:hover{
    cursor: pointer;
    color: #007EFF;
}

.nav-btns{
    display: flex;
    flex-flow: wrap-reverse;
}

.display{
    display: none;
}

.cost-seperator{
    margin-top: 7rem;
}

.total-cost{
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #000000;
    float: right;
}

.pricing-item{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #000000;
    margin-top: 5rem;

}

.cost-style{
    margin-top: 1rem;
}