.image-cards{
    display: flex;
    width: 60vw;
    height: 6vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 10px;
    padding: 15px;
}

.image-container{
    margin-top: 9rem;
    margin-left: 2rem;
}

.image-name{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.blank-box{
    width: 10%;
    height: 100%;
    left: 89px;
    top: 304px;
    background: #C4C4C4;
    border-radius: 4px;
}

.image-details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.type-radio{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* align-items: center; */
    margin-left: 20px;
}

.image-desc{
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
}

.select-image{
    margin-left: 25px;
    /* right: 0px; */
    margin-top: 12px;
    /* bottom: 0px; */
    background: #007EFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    width: 110px;
    height: 28px;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.select-image:hover {
    cursor: pointer;
    background-color: #008cff;
}

.select-image:active {
border: hidden;
transform: translateY(4px);
}