.image-cards{
    display: flex;
    width: 60vw;
    height: 6vw;
    background: #FFFFFF;
    box-shadow: 0rem 0.25rem 0.94rem rgba(0, 0, 0, 0.25);
    border-radius: 0.375rem;
    margin: 0.625rem;
    padding: 0.94rem;
}

.image-container{
    margin-top: 9rem;
    margin-left: 2rem;
}

.image-name{
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.44rem;
    color: #000000;
}

.blank-box{
    width: 10%;
    height: 100%;
    background: #C4C4C4;
    border-radius: 0.25rem;
}

.image-details{
    display: flex;
    flex-direction: column;
    margin-left: 0.94rem;
}

.type-radio{
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.1rem;
    margin-left: 1.25rem;
}

.image-desc{
    font-weight: 500;
    font-size: 0.82rem;
    line-height: 1.9rem;
}

.select-image{
    margin-left: 1.6rem;
    margin-top: 0.75rem;
    background: #007EFF;
    box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.16);
    border-radius: 0.5rem;
    width: 6.9rem;
    height: 1.75rem;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.select-image:hover {
    cursor: pointer;
    background-color: #008cff;
}

.select-image:active {
border: hidden;
transform: translateY(0.25rem);
}

.type-label{
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.1rem;
    margin-left: 2.6rem;
    margin-bottom: 1.35rem;
}

.ral{
    margin-top: 0.2rem;
}